h1{
	font-family: 'Source Sans Pro', sans-serif;
	font-weight: 700;
	font-size: 48px;
	color: $rosa-palo;
	line-height: 55px;
}

h2{
	font-family: 'Source Sans Pro', sans-serif; 
	font-weight: 400;
	font-size: 40px;
	color: $rosa-palo;
	line-height: 48px;
}

h3{
	font-family: 'Source Sans Pro', sans-serif; 
	font-weight: 300;
	font-size: 33px;
	color: $rosa-palo;
	line-height: 38px;
}

h4{
	font-family: 'Source Sans Pro', sans-serif; 
	font-weight: 400;
	font-size: 26px;
	color: $rosa-palo;
	line-height: 31px;
}

h5{
	font-family: 'Source Sans Pro', sans-serif; 
	font-weight: 300;
	font-size: 21px;
	color: $rosa-palo;
	line-height: 24px;
}

h6{
	font-family: 'Source Sans Pro', sans-serif; 
	font-weight: 400;
	font-size: 16px;
	color: $rosa-palo;
	line-height: 23px;
}